.container{
  display: flex;
  justify-content: space-between;
}
ul{
  display: flex;
  list-style: none;
}
a{
  text-decoration: none;
  margin: 5px;
  color: black;
  font-size: 12px;
}
a:hover{
  color: red;
}
#heading{
  font-size: 25px;
  font-weight: bold;
}
#search-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.layout1{
  justify-content: center;
  background-image: url(main1.png);
  position: relative;
  height: 45em;
  width: 100%;
}
.back-img{
 position: absolute;
 bottom: 0%; 
 color: rgb(212, 227, 222);
 #color-pink{
  color: pink;
 }
}
.layout2-1{
  text-align: center;
  
}
.services ul{
  display: flex;
 
}
.layout2{
  position: relative;
}
.services li{
  list-style: none;
}
.services{
  position: absolute;
 top: 50%;
 left: 30%;
 justify-content: center;

}
.l2{
  padding: 5px;
  text-decoration: none;
}
hr{
  margin: 0 400px 30px 400px;
}
.img3{
  width: 100%;
}
.layout4-3{
  display: flex;
  flex-direction: row; 
}
